<select name="{{ field_type.input_name }}" class="form-control">

    {% for iso, country in field_type.options %}

        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ country }}</option>

    {% endfor %}

</select>
