<select name="{{ field_type.getFieldName() }}" class="form-control select2">

    {% for option in field_type.options %}

        <option value="{{ option.iso }}" {{ option.selected ? 'selected' }}>{{ option.country }}</option>

    {% endfor %}

</select>
