<select name="{{ field_type.getInputName() }}" class="form-control select2">

    {% for iso, country in field_type.options %}

        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ country }}</option>

    {% endfor %}

</select>
